nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

body {
    height: 100vh;
    width: 100%
}

.btn, .btn-large, .btn-flat {
    white-space: normal !important;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  height: 100%;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
    height: 100%;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}

.start {
    width: 100%   
}

#team-color {
    width: 100%
}

.answerBtn {
    width: 100%;
    margin: 5px 5px 5px 5px;
    height: auto;
}

.textanswer {
    border-bottom: 1px solid #fb8c00 !important;
    color: #fb8c00;
}

#script-div {
    visibility: hidden;
    display: none;
}

input.select-dropdown {
    color: #000000;
}

#seqa {
    display: inline-grid;
    width: 36%;
    max-width: 80%;
}

#seqa li {
    margin: 10px;
    color: #4db6ac;
    border-color: #4db6ac;
    border-width: 2px;
    border-radius: 5px;
    border-style: solid;
    padding: 10px;
    background-color: #ffffff;
}

.answered {
    animation-name: answered;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.timer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 !important;
    height: 10px !important;
    background-color: transparent !important;
}

.score {
    position: fixed;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
}

.score>h1 {
    margin: 5px;
    font-size: 4rem;
}

.stretch {
    width: 100%;
    height: 50vh;
    padding-top: 50%;
}

@keyframes answered {
    0% {
        background-color: #fb8c00;
    }
    50% {
        background-color: #ffcc00;
    }
    100% {
        background-color: #fb8c00;
    }
}

@media (min-width: 1600px) {
    h1 {
        font-size: 4.8rem;
    }
}

@media (min-width: 1400px) {
    h1 {
        font-size: 4.6rem;
    }
}

@media (min-width: 1200px) {
    h1 {
        font-size: 4.4rem;
    }
}

@media (min-width: 1000px) {
    h1 {
        font-size: 4.2rem;
    }
}

@media (min-width: 900px) {
    h1 {
        font-size: 4.0rem;
    }
}

@media (min-width: 800px) {
    h1 {
        font-size: 3.8rem;
    }
}

@media (min-width: 700px) {
    h1 {
        font-size: 3.6rem;
    }
}

@media (min-width: 600px) {
    h1 {
        font-size: 3.4rem;
    }
}

@media (min-width: 500px) {
    h1 {
        font-size: 3.0rem;
    }
}

@media (min-width: 400px) {
    h1 {
        font-size: 2.6rem;
    }
}

@media (min-width: 300px) {
    h1 {
        font-size: 2.2rem;
    }
}

h1 {
    font-size: 2.0rem;
}