body {
    padding: 5 5 50 5;
    font-family: "Roboto";
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5 5 5 5;
    text-align: center;
    background-color: #027500;
    color: white;
}

.float {
    float: left;
}

.responsive {
    width: 100%;
    padding: 5 5 5 5;
}

.important {
    margin: 10 10 10 10;
    padding: 5 5 8 5;
    border-color: black;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px;
}