@font-face {
    font-family: 'Amethyst';
    src: url('/de/mafel/nawilauncher/res/Amethyst.ttf');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('/de/mafel/nawilauncher/res/Roboto-Light.ttf');
}

.root {
    -fx-focus-color: #027500;
    -fx-accent: #027500;
    -fx-hover-base: #62d560;
    -fx-pressed-base: #62d560;
    -fx-text-base-color: #027500;
    -fx-font-family: "Roboto Light";
}

.mainFxmlClass {
    -fx-background-color: white;
}

.button {
    /*-fx-background-color: linear-gradient(#4a5661 0%, #1f2429 20%, #1f242a 100%);
    -fx-background-radius: 5, 5, 4, 3, 2, 4;
    -fx-background-insets: -3 -3 -4 -3, -3, 0, 1, 2, 0;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-padding: 10 20 10 20;*/
    -fx-background-color: white;
    -fx-background-radius: 5, 5, 5, 5, 5, 5;
    -fx-border-color: #027500;
    -fx-border-radius: 5, 5, 5, 5, 5, 5;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 20;
    -fx-text-fill: #027500;
    -fx-padding: 10 20 10 20;
}

.button:hover {
    /*-fx-background-color: linear-gradient(#4a5661 0%, #1f2429 30%, #1f242a 100%);*/
    -fx-background-color: linear-gradient(#ffffff 0%, #ffffff 10%, #62d560 100%);
    -fx-cursor: hand;
}

.button:pressed {
    /*-fx-background-color: linear-gradient(#4a5661 0%, #1f2429 50%, #1f242a 100%);*/
    -fx-background-color: linear-gradient(#ffffff 0%, #62d560 100%);
    -fx-cursor: hand;
}

/*.button .text {
    -fx-effect: dropshadow( one-pass-box , rgba(0, 0, 0, 0.8), 0, 0.0 , 0 , -1 );
}*/

.menu-button {
    /*-fx-background-color: linear-gradient(#4a5661 0%, #1f2429 20%, #1f242a 100%);
    -fx-background-radius: 5, 5, 4, 3, 2, 4;
    -fx-background-insets: -3 -3 -4 -3, -3, 0, 1, 2, 0;
    -fx-font-family: "Arial";
    -fx-text-fill: black;
    -fx-font-size: 20;
    -fx-padding: 10 20 10 20;*/
    -fx-background-color: white;
    -fx-background-radius: 5, 5, 5, 5, 5, 5;
    -fx-border-color: #027500;
    -fx-border-radius: 5, 5, 5, 5, 5, 5;
    -fx-font-family: "Roboto Light";
    -fx-font-size: 20;
    -fx-padding: 10 20 10 20;
}

.menu-button:hover {
    -fx-background-color: linear-gradient(#ffffff 0%, #ffffff 10%, #62d560 100%);
    -fx-cursor: hand;
}

.menu-button:pressed {
    -fx-background-color: linear-gradient(#ffffff 0%, #62d560 100%);
    -fx-cursor: hand;
}

.menu-button .label {
    -fx-text-fill: #027500;
}

.menu-item .label {
    -fx-text-fill: black;
}

.menu-item:hover {
    -fx-background-color: linear-gradient(#ffffff 0%, #ffffff 10%, #62d560 100%);
    -fx-cursor: hand;
}

.menu-item:focused {
    -fx-background-color: linear-gradient(#ffffff 0%, #ffffff 10%, #62d560 100%);
    -fx-cursor: hand;
}

.menu .label {
    -fx-text-fill: black;
}

.combo-box-base:pressed {
    -fx-background-color: linear-gradient(#4a5661 0%, #1f2429 50%, #1f242a 100%);
    -fx-cursor: hand;
}

.combo-box-base .text {
    -fx-text-fill: white;
    -fx-effect: dropshadow( one-pass-box , rgba(0, 0, 0, 0.8), 0, 0.0 , 0 , -1 );
}

.combo-box-popup .list-view 
{
    -fx-background-color: linear-gradient(#4a5661 0%, #1f2429 30%, #1f242a 100%);
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 8, 0.0 , 0 , 0 );
}    

.comboSelectQuestionType {
    -fx-font-size: 15;
}

.button.dataBtn {
    -fx-font-size: 12;
    -fx-padding: 5 5 5 5;
    -fx-text-alignment: center;
}

.button.categoryBtn {
    -fx-font-size: 52;
    -fx-background-color: transparent;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-border-color: transparent;
    /*Margin Workaround*/
    -fx-padding: 2px;
    -fx-border-insets: 2px;
    -fx-background-insets: 2px;
    /*Text*/
    -fx-text-fill: linear-gradient(#001100, #cceecc);
}

.button.categoryBtn:hover {
    /*Text*/
    -fx-text-fill: linear-gradient(#110000, #eecccc);
}

.button.categoryBtn:pressed {
    -fx-background-color: #e0ffe0;
}

.button.categoryBtn.done {
    -fx-background-color: #e0ffe0;
}

.categoryLabel {
    /*Text*/
    -fx-text-fill: linear-gradient(#001100, #cceecc);
    /*-fx-font-size: 30;*/
}

.addSettingsTitleLabel {
    -fx-font-size: 20;  
}

.editQuestionsPanel {
    -fx-background-color: #00897B;
}

.mainControlBtns {
    -fx-font-size: 16;
    -fx-border-radius: 0;
}

.categoryDisplayLabel {
    -fx-background-color: linear-gradient(#1111ff, #5555cc);
    -fx-background-radius: 0 5 5 0;
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-cursor: hand;
}

.actionDisplayLabel {
    -fx-background-color: linear-gradient(#1111ff, #5555cc);
    -fx-background-radius: 5 0 0 5;
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-cursor: hand;
}

.movieDisplayLabel {
    -fx-background-color: linear-gradient(#1111ff, #5555cc);
    -fx-background-radius: 5 5 5 5;
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-cursor: hand;
}

.draggableTeamLabel {
    -fx-font-size: 16;
    -fx-cursor: move;
}

.button.btndragover {
    -fx-background-color: linear-gradient(#ff1111, #cc5555);
}

.lblBack {
    cursor: pointer;
}

.titleLabel {
    -fx-font-family: 'Amethyst';
    -fx-font-size: 80;
}

.subtitleLabel {
    -fx-font-family: 'Amethyst';
    -fx-font-size: 60;
}

.subtitle2Label {
    -fx-font-family: 'Amethyst';
    -fx-font-size: 40;
}

.subtitle3Label {
    -fx-font-family: 'Amethyst';
    -fx-font-size: 40;
}

.titleLabelMedium {
    -fx-font-family: 'Amethyst';
    -fx-font-size: 30;
}

.imgpane {
    -fx-background-color: transparent;
    -fx-background: transparent;
    -fx-border-color: transparent;
}

.imgpane > .viewport {
   -fx-background-color: transparent;
}

.lblActiveTeam {
    -fx-padding: 5 5 5 5;
    -fx-font-size: 16;
}

.lblQuizStatus {
    -fx-background-color: linear-gradient(#1111ff, #5555cc);
    -fx-background-radius: 5 5 5 5;
    -fx-padding: 5 5 5 5;
    -fx-text-fill: white;
    -fx-font-size: 16;
}

.greenbox {
    -fx-border-color: #027500;
    -fx-background-radius: 5 5 5 5;
    -fx-border-radius: 5 5 5 5;
}

.separator {
    -fx-border-style: solid;
    -fx-border-width: 1 0 0 0;
    -fx-border-color: #027500;
}

.list-view {
    -fx-border-color: #027500;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
}

.green {
    -fx-text-fill: #027500;
}

.menu-button.dataBtn, .split-menu-button.dataBtn {
    -fx-background-color: white;
    -fx-background-radius: 5, 5, 5, 5, 5, 5;
    -fx-border-color: #027500;
    -fx-border-radius: 5, 5, 5, 5, 5, 5;
    -fx-font-family: "Roboto Light";
    -fx-text-fill: #027500;
    -fx-padding: 1 1 1 1;
}

.split-menu-button.dataBtn > .label, .split-menu-button.dataBtn > .arrow-button {
    -fx-background-color: white;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.split-menu-button.dataBtn > .label:hover, .split-menu-button.dataBtn > .arrow-button:hover {
    -fx-cursor: hand;
    -fx-background-color: linear-gradient(#ffffff 0%, #ffffff 10%, #62d560 100%);
}

.explanationLbl {
    -fx-border-color: #cc5555;
    -fx-padding: 10;
    -fx-border-radius: 5;
    -fx-border-style: solid;
    -fx-border-width: 2px;
}

.explanationImg {
    -fx-border-color: #cc5555;
    -fx-padding: 10;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-border-style: solid;
    -fx-border-width: 2px;
}

.equipmentLbl {
    -fx-background-color: #cceecc;
    -fx-background-radius: 10px;
}

.selected {
    -fx-background-color: linear-gradient(#ffffff 0%, #ffffff 10%, #62d560 100%);
}

.table-view .table-cell{
    -fx-font-size: 18px;
}

.table-view {
    -fx-font-size: 18px;
}

.choice-box > .label, .combo-box-base, .combo-box-base .label {
    -fx-background-color: white;
    -fx-text-fill: #027500;
    -fx-border-color: #027500;
    -fx-border-radius: 5 5 5 5;
    -fx-border-width: 1 1 1 1;
    -fx-padding: 5 0 5 5;
}

.button.answerBtn {
    -fx-font-size: 20px;
}

.progress-bar .bar {
    -fx-background-color: linear-gradient(to right, rgba(2,117,0,0), rgba(2,117,0,0.4) 70%, rgba(2,117,0,1) 100%);
    -fx-background-insets: 0; 
}